@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#121212] text-[#cccccc];
  }
}

/* VS Code Style Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

/* --- Theming & Background Layers --- */
.theme-sprout {
  --theme-base-color: #a3e635;
  
  position: relative;
  z-index: 0;
  
  background-color: var(--theme-base-color);
  background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.1) 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
}

.theme-sprout::before {
  content: "";
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  pointer-events: none;

  background-image: url('./assets/bg-pattern.jpg');
  background-repeat: repeat;
  background-size: 350px 350px;

  filter: grayscale(100%) contrast(1.2);
  mix-blend-mode: multiply;

  opacity: 0.15; 
}