@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#121212] text-[#cccccc];
  }
}

/* VS Code Style Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333333;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #414141;
}

/* --- Theming & Background Layers --- */
.theme-sprout {
  --theme-base-color: #f1f8e9;

  background-color: var(--theme-base-color);

  background-image: 
    linear-gradient(135deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%),
    url('./assets/bg-pattern.jpg');
    
  background-repeat: no-repeat, repeat;
  background-attachment: fixed, fixed;
  background-size: 100% 100%, 350px 350px;

  background-blend-mode: normal, multiply;

  transition: background-color 0.5s ease;
}